<!DOCTYPE html>
<html>
<head>
  <title>SqlMetrics</title>
  <%= stylesheet_link_tag    "sql_metrics/application", :media => "all" %>
  <%= javascript_include_tag "sql_metrics/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
